extends layout
block content
	include lib/header
	.layout.border-top
		.container
			ul.bread.clearfix
				li
					| 您所在的位置：
					a(href='index.html') 首页
					|  > 
					span.txt-black 我要借款
		.container
			div(style='position:relative;')
				#tenders.carousel
					.banner.tenders(style='height:702px;')
						.item.bitem
							h2 抵押标
							h4 小微企业现场审核抵押发布借款
							.image
								img(src='/public/images/borrowlist/tenders1.png')
							.txt
								| 抵押（质押）借款标 抵押借款标显示标记“押”，是有资金需求的借款人，
								| 在办理好资产抵押、质押等手续后发布的借款标。平台对抵押物进行有效监管，抵押标逾期后， 将由合作企业进行回购并处理后续事宜。
							a.button.bg-main.clearfix(href='/apply/borrow/step1.html') 去申请
						.item.bitem
							h2 担保标
							h4 由单位或个人提供担保的借款标
							.image
								img(src='/public/images/borrowlist/tenders2.png')
							.txt
								| 担保借款标显示 “担”，是有资金需求的借款人，
								| 在保证人或担保单位签订好保证合同或者担保合同后发布的借款标，平台对担保人的担保条件进行有效评估和监管，担保标逾期后， 将由担保人进行回购并处理后续事宜。
							a.button.bg-main.clearfix(href='/apply/borrow/step1.html') 去申请
						.item.bitem
							h2 质押标
							h4 小微企业现场审核质押发布借款标
							.image
								img(src='/public/images/borrowlist/tenders3.png')
							.txt
								| 质押借款用\"质\"标记，是招商贷经过线下严格审查借款人资产负债，并对其进行严格审核及评估，办理好资产抵押、质押等手续，
								| 双方商定借款利率后，再由借款人在招商贷平台发布借款信息。
							a.button.bg-main.clearfix(href='/apply/borrow/step1.html') 去申请
					ul#ppoint.pointer.hide
				a#pprev.tprev(href='javascript:void(0);')
				a#pnext.tnext(href='javascript:void(0);')
		br

		.container.bg-white
			img.img(src='/public/images/borrowlist/tenders.jpg')
		br
