extends layout


block content
	include lib/header
	#wrapper
		#banner.slider-wrapper.theme-default
			#slider.nivoSlider
				a(href='')()
					img(src='/public/images/home/banner001.jpg', alt='', title='')(style="display:block")
				a(href='')
					img(src='/public//images/home/banner03.jpg', alt='', title='')
				a(target='_bank', href='')
					img(src='/public//images/home/banner01.jpg', alt='', title='')
				a(href='')
					img(src='/public//images/home/banner06.jpg', alt='', title='')
				a(href='')
					img(src='/public//images/home/banner04.jpg', alt='', title='')
				a(href='')
					img(src='/public//images/home/banner02.jpg', alt='', title='')
	.moneyinfo
		.container
			span
				img(src='/public/images/home/line_1.png')
			tt
				| 已撮合融资
				br
				b 75
				|  亿
				b 0961
				|  万元
			tt
				| 为理财人赚取收益
				br
				b 2
				|  亿
				b 4852
				|  万元
			tt
				| 昨日交易额
				br
				b 1010
				|  万元
			span.ico_r
				a(href='') 查看更多
	.newyear-bg.index-ny-bg
		section.container.notice
			span
				a.button.border-moer(href='') 更多公告
			div
				ul
					li
						a(href='') 关于《喜迎元宵，三重活动延期》的公告
						time 2016-02-15
					li
						a(href='') 关于春节期间提现安排的公告
						time 2016-02-04
					li
						a(href='') 关于PC端新增第三方支付通道“汇潮支付”的公告
						time 2016-02-04
					li
						a(href='') 《点灯笼• 赢大奖》微信活动公告
						time 2016-02-01
					li
						a(href='') 关于“手机APP”春节期间升级维护的公告
						time 2016-02-01
		// 公告结束
		section.container
			// 安全展示
			.safeshow
				ul
					li
						img(src='/public/images/home/box-5.png')
						| 上市公司旗下互联网金融平台
						br
						b 公信力强
					li
						img(src='/public/images/home/box-6.png')
						| 银行级的风控信贷管理
						br
						b 优质度佳
					li
						img(src='/public/images/home/box-7.png')
						| 完备的信息技术安全保障
						br
						b 信息加密
					li
						img(src='/public/images/home/box-8.png')
						| 五层风险隔离体系
						br
						b 为资金安全保驾护航
					li
						img(src='/public/images/home/box-9.png')
						| 50元起投，低门槛高收益
						br
						b 投资收益高
					.clear
			// 安全展示结束
		section.container
			.actsub
				// 活动专区
				.actbox
					span
						| 活动专区
						b 最热活动，敬请期待
					.act
						h1 喜迎元宵，福利“猴赛雷”
						h2 欢度元宵喜乐会，我们“年”在一起，招商贷持续为您派… 
						p
							i 79965
							| 开年有礼, 提“钱”来送
						p
							i 79963
							| 招商合伙人全面启动，推荐有礼
						a(href='huodong') 参与更多活动，GO!
				// 活动专区结束
				// 新手分享
				.actbox.newhand
					span
						| 新手专享
						b 稳定收益，从这里开始
						em
							a(href='') 更多>>
					.act
						h1(style='padding-left:0px;cursor:pointer')
							| （新手专享）棚户区改造工程款
						tt
							i 15
							| %
							br
							| 年化利率
						tt
							i 6
							| 个月
							br
							| 借款期限
						tt
							i.w 50.00
							|                             万
							br
							| 借款金额
						.rate
							a.wbtn(href='/borrow/tender?id=0854532df7804aa094af4e4d30661d3e') 还款中
							i 100
							| %
							br
							s
								b(style='width:100px;')  
				// 新手分享结束
				// 企业视频
				.comvedio
					span
						| 企业视频
						b 招商贷的故事
					.vediobox
						#video.carousel
							.banner(style='height:228px;')
								.item
									a(target='_blank')
										img(src='/public/images/home/ico_video.png')
									img(src='/public/images/home/longqiuyang_log.png', width='288', height='228')
								.item
									a(target='_blank')
										img(src='/public/images/home/ico_video.png')
									img(src='/public/images/home/chenxiaoqiong_log.png', width='293', height='228')
								.item
									a(target='_blank')
										img(src='/public/images/home/ico_video.png')
									img(src='/public/images/home/video3.png', width='293', height='228')
							ul#vpoint.hide
						a#vprev.prev(href='javascript:void(0);')
						a#vnext.next(href='javascript:void(0);')
					br
					br
					br
			// 企业视频结束
			.clear
		section#list.container
			.tab
				.tab-nav
					h1
						| 热门标
						b
							a(target='_blank', href='/app.html')
								i 下载手机APP，抢手机标会有惊喜哦~
							br
							| 每天不定时发放借款标，请留意倒计时关注发标情况
					ul.one
						li.active 热门标
						li 手机标
					.clear
				.tab-body
					// 热门标开始
					#bid_normal.item.active
						.n-detail(style='padding-bottom:0px;padding-top: 0px;border-top:0px;')
							.n-listdetail(style='padding-bottom:0px;padding-top:0px;margin-top:0px')
								ul.clearfix.list.list-title
									li.title
										span 借款标题
									li.attribute
										span 借款金额
										span 年化利率
										span 借款期限
										span 还款方式
									li.status 进度
									li
								ul.list.clearfix.listbg
									li.title
										img.icon(src='/public/images/home/icon-2.png')
										a(href='/borrow/tender.html?id=d9cf38f4f7584f88a3cd3b0159f52440', title='机械设备公司流动资金周转（增加贷款）4')
											| 机械设备公司流动资金周转（增加贷…
									li.attribute
										p(style='position:absolute;z-index:11;margin-top:-37px;margin-left: 247px;')
											img(src='/public/images/home/n_money_coupon.png')
										em |
										span
											b.m 100.00
											|                                         万
										em |
										span
											b 12.6
											| %
										em |
										span
											b 3
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月等额还本付息
										em |
									li.status
										span.progress(style='background-position:-0px 0px;') 0%
										em |
										span
											a.button.bg-gray.countdown(href='javascript:void(0)', borrowid='d9cf38f4f7584f88a3cd3b0159f52440', countdown='2131') 请稍候…
								ul.list.clearfix
									li.title
										img.icon(src='/public/images/home/icon-2.png')
										a(href='/borrow/tender.html?id=f8cbb0230567430c8916333239198f39', title='品牌服装周转款10')
											| 品牌服装周转款10
									li.attribute
										p(style='position:absolute;z-index:11;margin-top:-37px;margin-left: 247px;')
											img(src='/public/images/home/n_money_coupon.png')
										em |
										span
											b.m 100.00
											|                                         万
										em |
										span
											b 15
											| %
										em |
										span
											b 12
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月付息到期还本
										em |
									li.status
										span.progress(style='background-position:-0px 0px;') 0%
										em |
										span
											a.button.bg-gray.countdown(href='javascript:void(0)', borrowid='f8cbb0230567430c8916333239198f39', countdown='5731') 请稍候…
								ul.list.clearfix.listbg
									li.title
										img.icon(src='/public/images/home/icon-4.png')
										a(href='/borrow/tender.html?id=ef64b0a6be1a4c0987287b667a3408a8', title='物流公司资金周转4')
											| 物流公司资金周转4
									li.attribute
										p(style='position:absolute;z-index:11;margin-top:-37px;margin-left: 247px;')
											img(src='/public/images/home/n_money_coupon.png')
										em |
										span
											b.m 76.00
											|                                         万
										em |
										span
											b 15
											| %
										em |
										span
											b 6
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月等额还本付息
										em |
									li.status
										span.progress3(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-blue(href='/borrow/tender.html?id=ef64b0a6be1a4c0987287b667a3408a8') 还款中
								ul.list.clearfix
									li.title
										img.icon(src='/public/images/home/icon-2.png')
										a(href='/borrow/tender.html?id=4d4da7c4b6384a04a2e247aa7ef1285b', title='品牌服装周转款9')
											| 品牌服装周转款9
									li.attribute
										p(style='position:absolute;z-index:11;margin-top:-37px;margin-left: 247px;')
											img(src='/public/images/home/n_money_coupon.png')
										em |
										span
											b.m 100.00
											|                                         万
										em |
										span
											b 15
											| %
										em |
										span
											b 12
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月付息到期还本
										em |
									li.status
										span.progress3(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-blue(href='/borrow/tender.html?id=4d4da7c4b6384a04a2e247aa7ef1285b') 还款中
								ul.list.clearfix.listbg
									li.title
										img.icon(src='/public/images/home/icon-2.png')
										a(href='/borrow/tender.html?id=a518059bf9e949a6a1df62f210d34ff3', title='机械设备公司流动资金周转（增加贷款）3')
											| 机械设备公司流动资金周转（增加贷…
									li.attribute
										p(style='position:absolute;z-index:11;margin-top:-37px;margin-left: 247px;')
											img(src='/public/images/home/n_money_coupon.png')
										em |
										span
											b.m 100.00
											|                                         万
										em |
										span
											b 12.6
											| %
										em |
										span
											b 3
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月等额还本付息
										em |
									li.status
										span.progress3(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-blue(href='/borrow/tender.html?id=a518059bf9e949a6a1df62f210d34ff3') 还款中
								ul.list.clearfix
									li.title
										img.icon(src='/public/images/home/icon-2.png')
										a(href='/borrow/tender.html?id=34d4081caf694ab3acfcdc0fa6534d5f', title='品牌服装周转款8')
											| 品牌服装周转款8
									li.attribute
										p(style='position:absolute;z-index:11;margin-top:-37px;margin-left: 247px;')
											img(src='/public/images/home/n_money_coupon.png')
										em |
										span
											b.m 100.00
											|                                         万
										em |
										span
											b 15
											| %
										em |
										span
											b 12
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月付息到期还本
										em |
									li.status
										span.progress3(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-blue(href='/borrow/tender.html?id=34d4081caf694ab3acfcdc0fa6534d5f') 还款中
					// 热门标结束
					// 手机开始
					#bid_new.item
						.n-detail(style='padding-bottom:0px;padding-top: 0px;border-top:0px;')
							.n-listdetail(style='padding-bottom:0px;padding-top:0px;margin-top:0px')
								ul.clearfix.list.list-title
									li.title
										span 借款标题
									li.attribute
										span 借款金额
										span 年化利率
										span 借款期限
										span 还款方式
									li.status 进度
									li
								ul.list.clearfix.listbg
									li.title
										img.icon(src='/public/images/home/icon-2.png')
										a(href='/borrow/tender.html?id=360cc1b7354845c2af167a756ffb7adc', title='电气公司工程款(增加贷款)1')
											s
												img(src='/public/images/home/n-mob-z.png')
											|                                         电气公司工程款(增加贷款)1
									li.attribute
										em |
										span
											b.m 145.00
											|                                         万
										em |
										span
											b 18
											| %
										em |
										span
											b 6
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月等额还本付息
										em |
									li.status
										span.progress3(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-blue(href='/borrow/tender.html?id=360cc1b7354845c2af167a756ffb7adc') 还款中
								ul.list.clearfix
									li.title
										img.icon(src='/public/images/home/icon-1.png')
										a(href='/borrow/tender.html?id=af64063ec15248e5b09d616b2bec181b', title='建材公司短期周转款8')
											s
												img(src='/public/images/home/n-mob-z.png')
											|                                         建材公司短期周转款8
									li.attribute
										em |
										span
											b.m 150.00
											|                                         万
										em |
										span
											b 16
											| %
										em |
										span
											b 6
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月等额还本付息
										em |
									li.status
										span.progress3(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-blue(href='/borrow/tender.html?id=af64063ec15248e5b09d616b2bec181b') 还款中
								ul.list.clearfix.listbg
									li.title
										img.icon(src='/public/images/home/icon-9.png')
										a(href='/borrow/tender.html?id=abc21dd3efcd45cb97b4b1c0df753465', title='劳斯莱斯幻影加长版质押贷款4')
											s
												img(src='/public/images/home/n-mob-z.png')
											|                                         劳斯莱斯幻影加长版质押贷款4
									li.attribute
										em |
										span
											b.m 30.00
											|                                         万
										em |
										span
											b 15
											| %
										em |
										span
											b 6
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月付息到期还本
										em |
									li.status
										span.progress3(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-blue(href='/borrow/tender.html?id=abc21dd3efcd45cb97b4b1c0df753465') 还款中
								ul.list.clearfix
									li.title
										img.icon(src='/public/images/home/icon-1.png')
										a(href='/borrow/tender.html?id=4f9f88f9175d4a1b877557f4d47cf323', title='建材公司短期周转款4')
											s
												img(src='/public/images/home/n-mob-z.png')
											|                                         建材公司短期周转款4
									li.attribute
										em |
										span
											b.m 200.00
											|                                         万
										em |
										span
											b 16
											| %
										em |
										span
											b 6
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月等额还本付息
										em |
									li.status
										span.progress3(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-blue(href='/borrow/tender.html?id=4f9f88f9175d4a1b877557f4d47cf323') 还款中
								ul.list.clearfix.listbg
									li.title
										img.icon(src='/public/images/home/icon-2.png')
										a(href='/borrow/tender.html?id=f025bb5f328242a2af85b398842af6c8', title='建材进货款1	')
											s
												img(src='/public/images/home/n-mob-z.png')
											|                                         建材进货款1
									li.attribute
										em |
										span
											b.m 39.00
											|                                         万
										em |
										span
											b 12.6
											| %
										em |
										span
											b 3
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月等额还本付息
										em |
									li.status
										span.progress2(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-gray(href='/borrow/tender.html?id=f025bb5f328242a2af85b398842af6c8') 已还款
								ul.list.clearfix
									li.title
										img.icon(src='/public/images/home/icon-2.png')
										a(href='/borrow/tender.html?id=c37318f708e8496cb4866689ccb32a00', title='服装商流动资金周转1')
											s
												img(src='/public/images/home/n-mob-z.png')
											|                                         服装商流动资金周转1
									li.attribute
										em |
										span
											b.m 74.00
											|                                         万
										em |
										span
											b 11
											| %
										em |
										span
											b 2
											| 个月
										em |
										span.ms
											// 还款方式
											| 按月等额还本付息
										em |
									li.status
										span.progress2(style='background-position:-5600px 0px;') 100%
										em |
										span
											a.button.bg-gray(href='/borrow/tender.html?id=c37318f708e8496cb4866689ccb32a00') 已还款
					// 手机结束
					// 查看更多
					.moerhot
						a(href='queryData.html') 查看更多投资项目 >>
		section.container
			.newsbox
				// 聚福专区
				.fusub
					span
						| 聚福专区
						b 汇聚幸福，我们还在继续努力中！
						em
							a(href='toBoxList') 更多聚福项目 >>
					.fusbox
						dl
							dd
								.titbg 聚福盒子二期20
								tt
									i 8
									| %
									br
									| 年化利率
								tt
									i 12
									| 个月
									br
									| 借款期限
								tt
									i 1
									| 万元/份
									br
									| 投资金额
								p
									| 借款金额：
									i.x 高清智能机顶盒+高清12个月套餐
								p
									s
										b(style='width:95px;')  
									i 95
									| %
							dt
								a(href='') 立即投资
								p
								h1 聚福盒子特点：
								p
								p 1.投资一万，享800元收益，送高清智能机顶盒。
								p 2.免费看12个月价值1400元以上高清增值套餐节目。
								p
									| “聚福盒子”是中天城投控股互联网金融平台招商贷携手贵州广电网络推出的跨界产品，老百姓可以通过“聚福盒子”，合理配置手中闲钱，在全家免费享受丰富精彩的高清电视节目的同时，产生可靠、可观的理财收益。
							.clear
				// 聚福专区结束
				// 常见问题
				.newslist
					span
						| 常见问题
						em
							a(href='/') 查看更多 >>
					dl
						dd
							a(href='') 如何在网站注册？
							a(href='') 投资金额有限制吗？
							a(href='') 投资人在投资过程中会产生哪些费用？
							a(href='') 如何收回借出的投资资金？
							a(href='') 如何对借款项目做判断？
				// 常见问题结束
				.clear
		section.container
			.newsbox
				// 媒体报道&招商风采
				.mediabbx
					dl#tags
						dt
							s.ashow(data-class='15')
								a(onclick="selectTag('tagContent0',this)", href='javascript:void(0)') 公司动态
							i
							s(data-class='13')
								a(onclick="selectTag('tagContent1',this)", href='javascript:void(0)') 媒体报道
							em
								a(href='#', onclick='openLink(this)') 查看更多 >>
						dd#tagContent0
							ul
								li
									a(href='/article/getNewsByNewsId.html?newsId=10261&classId=10', title='贵阳市委常委、副市长刘春成慰问统一战线代表招商贷')
										| 贵阳市委常委、副市长刘春成慰问统一战线代表招商贷
									em 2016-02-17
									i
								li
									a(href='/article/getNewsByNewsId.html?newsId=10250&classId=10', title='蝶变2016  招商贷年会盛典完美落幕')
										| 蝶变2016 招商贷年会盛典完美落幕
									em 2016-02-05
								li
									a(href='/article/getNewsByNewsId.html?newsId=10241&classId=10', title='招商贷与省红十字会开展  “互联网+慈善”探索交流会议')
										| 招商贷与省红十字会开展 “互联网+慈善”探索交流会议
									em 2016-01-29
								li
									a(href='/article/getNewsByNewsId.html?newsId=10238&classId=10', title='招商贷荣获中国P2P网络借贷企业微信公众号年度影响力第34名')
										| 招商贷荣获中国P2P网络借贷企业微信公众号年度影响力第34名
									em 2016-01-26
								li
									a(href='/article/getNewsByNewsId.html?newsId=10236&classId=10', title='招商贷荣膺“2015年度互联网金融责任品牌”')
										| 招商贷荣膺“2015年度互联网金融责任品牌”
									em 2016-01-25
						dd#tagContent1
							ul
								li
									a(href='/article/getNewsByNewsId.html?newsId=10262&classId=10', title='网络联结善行 奉献温暖人心')
										| 网络联结善行 奉献温暖人心
									em 2016-02-17
									i
								li
									a(href='/article/getNewsByNewsId.html?newsId=10240&classId=10', title='助推网络精准扶贫9+1 贵阳在聚力')
										| 助推网络精准扶贫9+1 贵阳在聚力
									em 2016-01-29
								li
									a(href='/article/getNewsByNewsId.html?newsId=10233&classId=10', title='招商贷首席运营官、首席信息官刘锐: 重构贵州金服生态圈')
										| 招商贷首席运营官、首席信息官刘锐: 重构贵州金服生态圈
									em 2016-01-21
								li
									a(href='/article/getNewsByNewsId.html?newsId=10201&classId=10', title='杭州天杭小学与红枫湖镇民联小学结对帮扶')
										| 杭州天杭小学与红枫湖镇民联小学结对帮扶
									em 2015-12-28
								li
									a(href='/article/getNewsByNewsId.html?newsId=10135&classId=10', title='招商贷注册资本增至1.11亿元超过部分城商行')
										| 招商贷注册资本增至1.11亿元超过部分城商行
									em 2015-11-04
				// 媒体报道&招商风采结束
				// 新闻行业
				.newslist
					span
						| 行业资讯
						em
							a(href='/article/getZixunList.html?classId=14') 查看更多 >>
					dl
						dd
							a(href='/article/getNewsByNewsId.html?newsId=10270&classId=10', title='刘士余：对互联网金融监管提出四点建议')
								| 刘士余：对互联网金融监管提出四点建议
							a(href='/article/getNewsByNewsId.html?newsId=10264&classId=10', title='业内人士：互联网金融驶入规范发展“快车道”')
								| 业内人士：互联网金融驶入规范发展“快车道”
							a(href='/article/getNewsByNewsId.html?newsId=10263&classId=10', title='中国支付清算协会网贷“黑名单”雏形初现')
								| 中国支付清算协会网贷“黑名单”雏形初现
							a(href='/article/getNewsByNewsId.html?newsId=10260&classId=10', title='业内人士：监管趋严，2016是互联网金融规范发展年')
								| 业内人士：监管趋严，2016是互联网金融规范发展年
							a(href='/article/getNewsByNewsId.html?newsId=10242&classId=10', title='中国互联网金融协会（筹）举办首次培训班')
								| 中国互联网金融协会（筹）举办首次培训班
				// 新闻行业结束
				.clear
		// 合作伙伴开始
		section.container
			br
			br
			h3.parthh3 合作伙伴
			br
			.partner
				#partner
					.banner(style='height:53px;display:flex;justify-content: space-between')
						.item
							img.img(src='/public/images/home/2015070909091816300296450015.jpg')
						.item
							img.img(src='/public/images/home/201507090909367217237255297.jpg')
						.item
							img.img(src='/public/images/home/2015070909103017544797415271.jpg')
						.item
							img.img(src='/public/images/home/201507090910223337954244809.jpg')
						.item
							img.img(src='/public/images/home/201507090910381079543537701.jpg')
						.item
							img.img(src='/public/images/home/201507090910469145058868566.jpg')
						.item
							img.img(src='/public/images/home/2015070909105319788184374336.jpg')
					ul#ppoint.pointer.hide
				a#pprev.prev(href='javascript:void(0);')
				a#pnext.next(href='javascript:void(0);')
		br
		br
		// 友情链接
	.linkbox
		section.container
			p.links
				span 友情链接：
				a(href='http://##www.gzhsss.com', target='_blank') 合石诉讼
				a(href='http://##www.118114gz.com', target='_blank') 贵州网址通
				a(href='http://##www.gzmv.com.cn', target='_blank') 贵州元素音乐网
				a(href='http://##www.gzgov.gov.cn/', target='_blank') 贵州省人民政府
				a(href='http://#www.qx162.com/', target='_blank') 黔讯网
				a(href='http://#www.gzwht.gov.cn/', target='_blank') 贵州省文化网
				a(href='http://#dcgz.gog.com.cn/', target='_blank') 多彩贵州网
				a(href='http://#www.coolgy.com/', target='_blank') 爽爽的贵阳网
				a(href='http://#www.gzcom.gov.cn/', target='_blank') 贵州省商务厅
				a(href='http://#www.gz12301.com/', target='_blank') 贵州旅游网游客服务中心



