footer.layout
    .fooderbox
        dl
            dt
                p
                    span
                        b 0771-3216270
                        br
                        | 服务时间：9:00-22:00
                    span
                        a(href='javascript:void(0)')
                            img(src='/public/images/footer/f3.png')
                            i
                                img(src='/public/images/footer/mars_wechat.png')
                        a(href='')
                            img(src='/public/images/footer/f1.png')
                    span
                        a(href='')
                            img(src='/public/images/footer/s1.png')
                        a(href='')
                            img(src='/public/images/footer/s2.jpg')
                        a(href='')
                            img(src='/public/images/footer/s3.png')
                .clear
                p
                p
                    | Copyright Reserved @2013 火星人金融平台 | 备案号:桂ICP备15003644号-2
                    a(target='_blank', href='http://#www.miibeian.gov.cn/') 
                p
                    | 地址：广西南宁市科园大道东五路4号南宁软件园1楼
                    
            dd
                span
                    img(src='/public/images/footer/mars_wechat.png', style='margin-top: -13px;')
                span
                    b 下载手机客户端
                    br
                    |                         扫 码 下 载
                    br
                    img.appico(src='/public/images/footer/app_ico.png')
                    | IOS版
                    br
                    img.appico(src='/public/images/footer/app_ico2.png')
                    | 安卓版
                .clear
            .clear
    .backhome
        a.backtop(href='#')
            img(src='/public/images/footer/top.png')
        a(href='index.html')
            img(src='/public/images/footer/home.png')
