footer.layout
    .fooderbox
        dl
            dt
                p
                    span
                        b 400-666-6666
                        br
                        | 服务时间：9:00-22:00
                    span
                        a(href='javascript:void(0)')
                            img(src='/th/images/footer/f3.png')
                            i
                                img(src='/th/images/footer/ewm.png')
                        a(href='http://#weibo.com/3445450794/profile?rightmod=1&wvr=5&mod=personinfo', target='_blank')
                            img(src='/th/images/footer/f1.png')
                    span
                        a(href='https://ss.knet.cn/verifyseal.dll?sn=e13072411010041724izzi000000&comefrom=verify', target='_blank')
                            img(src='/th/images/footer/s1.png')
                        a(href='http://#www.itrust.org.cn/yz/pjwx.asp?wm=1065799941', target='_blank')
                            img(src='/th/images/footer/s2.jpg')
                        a(href='https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.zhaoshangdai.com&lang=zh_cn', target='_blank')
                            img(src='/th/images/footer/s3.png')
                .clear
                p
                p
                    | Copyright Reserved @2013 某某金融平台 | 备案号:
                    a(target='_blank', href='http://#www.miibeian.gov.cn/') 黔ICP备53554154号-5
                p
                    | 地址：贵州省贵阳市花果园金融街2号24-12
                    script(type='text/javascript').
                        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cscript src='" + _bdhmProtocol +
                        "hm.baidu.com/h.js%3F72da47e93f114fd22a380c72f142d731' type='text/javascript'%3E%3C/script%3E"
                        ));
                    script(src='js/stat.js', language='JavaScript')
            dd
                span
                    img(src='/th/images/footer/monkey-qrcode.png', style='margin-top: -13px;')
                span
                    b 下载手机客户端
                    br
                    |                         扫 码 下 载
                    br
                    img.appico(src='/th/images/footer/app_ico.png')
                    | IOS版
                    br
                    img.appico(src='/th/images/footer/app_ico2.png')
                    | 安卓版
                .clear
            .clear
    .backhome
        a.backtop(href='#')
            img(src='/th/images/footer/top.png')
        a(href='index.html')
            img(src='/th/images/footer/home.png')
