header.layout
	header.layout
		.top
			.container
				.top-left.hidden-l
					span
						| 服务热线 
						strong 0771-3216270
					span 服务时间：9:00-22:00
					|                         关注我们
					a(target='_blank')
						img(src='/public/images/header/weibo.jpg')
					a(href='#')
						img(src='/public/images/header/weixin.jpg')
						span
							img(src='/public/images/header/mars_wechat.png')
				.top-right
					a(href='/login') 立即登录
					em
					a.show(href='/register') 免费注册
					em
				.clear
		#errorMessageDialog.c-delBkcdByPhoneBox(style='display: none ; margin: 0;  padding: 0 20px;')
			#del_bankcard_div.del_bank_card_div
				.del_bank_card_hd
					a#colse_del_bkcd_a.colse_del_bkcd.colse_del_bidts(onclick='closeErrorMessageDialog()')
						img.colse_del_bkcd(alt='', src='/public/images/header/v_code_wrong.png')
				.del_bank_card_hd
					font#temp_prop.cert_wenxitishi 提示：
					span
				br
				.sure_del_bkcd
					input#prop_sure.button.bg-main(type='button', onclick='closeErrorMessageDialog()', value='确定')
		header.layout
			.header-ny-bg(style='margin-top: -2px;')
				.container.naver
					.logo(style='margin-top: -10px;')
						a(href='/')
							img.img(src='/public/images/header/mars-logo.jpg')
					nav
						ul#zsd_nav
							li#index_nav.active(style='color: #FAAF16;')
								a(href='/') 首页
							li#financing_nav.itm_1
								a(href='querydata') 我要理财
							li#borrow_nav.itm_2
								a(href='borrowlist') 我要借款
							li
								a(href='about') 关于我们